<%# <!DOCTYPE html> %>
<%# <html> %>
  <%# <head> %>
    <%# <title>FlyShift</title> %>
    <%# <%= csrf_meta_tags %> 
    <%# <%= csp_meta_tag %> 

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  <%# </head> %>
<!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="UTF-8">
      <title>Fly_Shift</title>
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
      <%= stylesheet_link_tag 'application', media: 'all'%>
      <script type="text/javascript" src="js/openclose.js"></script>
    </head>
  <header>
    <div class="header">
      <%= link_to "FlyShift", root_path, class: "appname" %>
      <%= link_to "シフト作成", new_create_path, class: "sakusei" %>
      <div class="chuushutu">シフト抽出</div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>

  <footer>
    <small>CopyrightAll Rights Reserved.</small>
  </footer>

</html>
