<!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="UTF-8">
      <title>Fly_Shift</title>
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
      <%= stylesheet_link_tag 'application', media: 'all'%>
    </head>
  <header>
    <div class="header">
      <%= link_to "FlyShift", root_path, class: "appname" %>
      <%= link_to "シフト作成", new_create_path, class: "sakusei" %>
      <div class="chuushutu">シフト抽出</div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>

  <footer>
    <small>CopyrightAll Rights Reserved.</small>
  </footer>

</html>
<%= javascript_pack_tag 'application' %>

